{% extends "base.html" %}
{% load static %}
{% block nav %}
    {% include 'layout/nav.html' %}
{% endblock nav %}
    
{% block container %} 
{% if user.is_authenticated %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">To Do List</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold text-primary">Create List</h3>
                    </div>
                    <div class="card-body" id="create-list">
                        <form method="post" id="add-list-form" data-addlist-url="{% url 'add-list' %}">
                            <h3 class="small font-weight-bold">Add a list</h3>
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-12 mb-4 mb-sm-0">
                                    <input type="text" class="form-control form-control-user add-todo" placeholder="Category" name="{{categoryForm.category.name}}" id="{{categoryForm.category.id_for_label}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-control-user add-todo" placeholder="Title" name="{{form.title.name}}" id="{{form.title.id_for_label}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-control-user add-todo" placeholder="Description" name="{{form.description.name}}" id="{{form.description.id_for_label}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button class="btn btn-success btn-user btn-block" type="submit" id="add-to-list">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold text-primary">List</h3>
                    </div>
                    <div class="card-body">
                        <!-- <h3 class="small font-weight-bold">Add a list</h3>  -->
                        <div class="form-group row" id="todo-list" >
                            <!-- Border Left Utilities -->
                            {% if List.count %}
                                {% for list in List %}
                                {% if not list.is_done %}
                                <div class="col-md-12 mb-4" id="list-{{list.id}}">
                                    <div class="card border-left-primary shadow py-2">
                                        <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                            <div class="col mr-2 ml-4">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{list.category}} </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{list.description}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <form method="POST" class="update-list-form" >
                                                    {% csrf_token %}
                                                    <button class="border-0 btn-transition btn btn-outline-success update-list" data-id="{{list.id}}" data-updatelist-url="{% url 'update-list' %}" type="submit"> <i class="fa fa-check"></i></button>
                                                    <button class="border-0 btn-transition btn btn-outline-danger delete-list" data-id="{{list.id}}" data-deletelist-url="{% url 'delete-list' %}" type="submit"> <i class="fa fa-trash"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold text-primary">Done</h3>
                    </div>
                    <div class="card-body" id="done-list">
                    {% if List.count %}
                        {% for list in List %}
                            {% if list.is_done %}
                            <div class="col-md-12 mb-4">
                                <div class="card border-left-primary shadow  py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                            <div class="col mr-2 ml-4">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Category </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">description</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-check"></i>
                                                <button class="border-0 btn-transition btn btn-outline-danger"> <i class="fa fa-trash"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
          <!-- /.container-fluid -->
{% endif %}
{% endblock container  %}


{% block scripts %}
    <!-- Custom scripts for all pages-->
    <script src="{% static 'app/js/main.js' %}"></script>
{% endblock scripts %}
    